<library path="cobot_7thaxis">
  <class name="rqt_plugin/Cobot7thAxis" type="rqt_plugin::Cobot7thAxis" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      This repository contains a rqt qui plugin for the excecution of various cobots running on a 7th linear axis.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">applications-graphics</icon>
        <!-- Reference Link -->
        <!-- https://gist.github.com/peteristhegreat/c0ca6e1a57e5d4b9cd0bb1d7b3be1d6a -->
        <statustip>Custom plugin.</statustip>
      </group>
      <label>LinearAxisGUI</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A custom plugin in rqt ROS2.</statustip>
    </qtgui>
  </class>
</library>